mvn archetype:generate "-DarchetypeGroupId=com.sap.cloud.s4hana.archetypes" "-DarchetypeArtifactId=scp-cf-tomee" "-DarchetypeVersion=2.1.2" "-DgroupId=com.sap.cloud.s4hana.examples" "-DartifactId=abm-helloworld" "-Dversion=1.0-SNAPSHOT"